html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.squares-bg {
    width: 100%;
    height: 100%;
    color: white;
}

.squares-bg::before, .squares-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.squares-bg::before {
    background-image:
        linear-gradient(black 50%, transparent 50%),
        linear-gradient(to right, grey 50%, black 50%);
        background-size: 30px 30px;
}

.squares-bg::after {
    background-image: linear-gradient(black, transparent);
}

body {
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P';
    font-size: 50px;
    color: dimgrey;
    text-shadow: 3px 3px 5px red;
    margin: 0.50em;
}

h2 {
    margin: 0.5em 0 0.5em;
}

h2:nth-of-type(2) {
  display: inline;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;
    box-shadow: 2px 2px 4px red;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

p {
    margin: 0.75em 0 2em;
}

input[type=number] {
    width: 6em;
    margin: 0 0.25em 1em;
}

input[type=color] {
    margin: 0 0.5em;
}
